@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model HomeViewModel

    <h2>Soup of the week</h2>

    <div class="row">
        @foreach(var soup in Model.SoupsOfTheWeek)
        {
            <partial name="_SoupCard" model="soup"/>
        }
    </div>
